/* Global Styles (Optional) */
body, html {
  /* height: 100%;
  margin: 0;
  font-family: Arial, sans-serif; */
}

/* Login Page Styles */

.login-page {
  display: flex;
  height: 100vh;
}

.login-hero-image {
  flex: 1;
  background: url('./images/login_board.jpg') center;
  background-size: cover;
}

.login-form-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.login-box {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 100%; /* Adjust max-width as needed */
  text-align: center;
  border-radius: var(--border-radius);
}




.login-box h2 {
  margin-bottom: 1rem;
}

.login-box form {
  display: flex;
  flex-direction: column;
}

/* Style elements */
div, input[type="email"], input[type="password"], input[type="text"] {
  border-radius: var(--border-radius);
  font-size: var(--main-font-size);
}

input[type="email"], input[type="password"] {
  width: 100%;
  padding: var(--field-padding);
  border: 1px solid var(--field-border-color);
  background-color: var(--field-background-color);
  box-sizing: border-box;
  margin-bottom: 5px;
}

/* button[type="submit"] {
  background-color: var(--button-background-color);
  color: var(--button-color);
  padding: var(--button-padding);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
  font-size: var(--main-font-size);
} */

button[type="submit"]:hover {
  background-color: var(--button-hover-color);
}

.error-message,
.success-message {
  margin-bottom: 1rem;
  color: red;
}

.success-message {
  color: green;
}

.register-link {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-button {
  /* ... (existing register button styles) */
}

.register-button:hover {
  /* ... (existing hover styles) */
}

/* Mobile Styles (Media Query) */
@media (max-width: 768px) {
  .login-page {
    flex-direction: column; /* Stack elements vertically */
    
  }

  .login-hero-image {
    flex: none; /* Remove flex-grow for mobile */
    height: 100vh; /* Set full viewport height */
  }

  .login-form-container {
    flex: none; /* Remove flex-grow for mobile */
    position: absolute; /* Position login box absolutely on top of the image */
    top: 50%; /* Center vertically by setting top to 50% */
    transform: translateY(-50%); /* Offset vertically to account for element height */
    width: 90%; /* Ensure full width on mobile */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 1rem; /* Adjust padding for smaller screens */
  }
}

/* Signup Page Styles (Commented Out) */
/* ... (similar styles with media queries for signup page, if needed) */
