/* Chat.css */

/* General styles */
.chat-container {
    font-family: var(--primary-font);
    font-size: var(--main-font-size);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden; /* Prevent scrollbars on the chat container itself */
}

.chat-header {
    height: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.message-list {
    flex: 1; /* Take available space */
    overflow-y: auto; /* Enable vertical scrolling within the message list */
    padding: 2px;
    border: 1px solid #ccc; /* Optional: add border */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.message-item {
    background-color: #f0f0f0; /* Light gray background */
    border-radius: var(--button-border-radius);
    padding: 0;
    margin-bottom: 2px;
    width: 100%;
    display: flex;
    align-items: center; /* Center content vertically */
}

.message-details {
    display: flex;
    align-items: center; /* Center content vertically */
    flex: 1;
    justify-content: space-between; /* Ensure delete-button aligns to the right */
    margin-bottom: 0px; /* Adjust spacing between messages if needed */
}

/* Message content and metadata */
.message-content {
    font-family: var(--primary-font);
    font-size: var(--main-font-size);
    color: black;
    padding: 12px;
    border-radius: 8px;
    margin-right: 8px; /* Adjust spacing between content and metadata */
    flex: 1; /* Allow content to expand */
}

.message-metadata {
    display: flex;
    flex-direction: column;
    gap: 8px; /* Adjust as needed for spacing between elements */
    font-size: xx-small;
    background-color: #ffffff;
    padding: 8px; /* Padding for metadata */
    border-radius: var(--button-border-radius);
    color: rgb(198, 198, 198);
    margin-right: 8px; /* Space between metadata and delete button */
}

.message-metadata p {
    margin: 0; /* Remove default margin for paragraphs */
}

/* Delete button */
.delete-button-container {
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center;
}

.delete-button {
    background-color: #ededed;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-family: var(--primary-font);
    font-size: var(--main-font-size);
    border-radius: var(--button-border-radius);
    width: 40px;
    align-self: flex-end; /* Aligns the button to the right */
    align-self: center; /* Ensure button is centered vertically */

}

.delete-button:hover {
    background-color: #d32f2f;
}

/* Send message form */
.send-message-form {
    display: flex;
    padding: 10px;
    background-color: #f1f1f1; /* Background color for the input area */
    position: relative; /* Position it at the bottom */
    bottom: 0; /* Stick to the bottom */
    left: 0;
    right: 0;
}

.send-message-form input[type="text"] {
    flex: 1; /* Take available space */
    padding: 10px;
    border: 1px solid #ccc; /* Optional: add border */
    font-family: var(--primary-font);
    font-size: var(--main-font-size);
}

.send-message-form button[type="submit"] {
    font-family: var(--primary-font);
    font-size: var(--main-font-size);
    width: 90px;
}

.send-message-form button[type="submit"]:hover {
    background-color: #4CAF50; /* Green hover color */
    color: white;
}
