.dashboard {
  display: flex;
  height: 100vh;
}


.dashboard-content {
  flex: 1; /* Take remaining space */
  padding: 00px;
  transition: margin-left 0.3s ease; /* Transition for main content margin */
}


.dashboard-header {
  padding: 0px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}

.dashboard-main {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-content.expanded {
  margin-left: 300px; /* Adjust margin when sidebar is expanded */
}


.dashboard-main.contracted {
  margin-left: 120px; /* Contract main content when sidebar expands */
  transition: margin-left 0.3s ease; /* Transition for main content margin */

}

