/* Overall dashboard layout */
.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

/* Header styles */
.dashboard-header {
  padding: 10px; /* Adjust padding as needed */
  background-color: #f0f0f0;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: shadow for the header */
  flex-shrink: 0; /* Prevent header from shrinking */
}

/* Main content area */
.dashboard-main {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1; /* Take remaining space */
  display: flex;
  flex-direction: column; /* Stack children vertically */
}

/* Content area that adjusts with the sidebar */
.dashboard-content {
  flex: 1; /* Fill available space */
  padding: 0; /* No default padding */
  transition: margin-left 0.3s ease, padding 0.3s ease; /* Smooth transition for margin changes */
  border: 10px solid rgb(236, 236, 236);
  overflow-y: auto; /* Allow vertical scrolling if content overflows */
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none; /* IE and Edge */
}

/* State when the sidebar is expanded */
.content.expanded {
  margin-left: 300px; /* Adjust based on the sidebar width */
  padding-left: 0; /* No padding when the sidebar is expanded */
}

/* State when the sidebar is contracted */
.content.contracted {
  margin-left: 200px; /* Adjust based on the sidebar width */
  padding-left: 20px; /* Add padding when the sidebar is contracted */
}

@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }

  .header {
    font-size: 1.2em;
  }

  .main {
    margin-top: 10px;
    padding: 10px;
  }

  .content {
    margin-left: 0; /* No sidebar on smaller screens */
    padding: 10px;
  }

  .content.expanded, .content.contracted {
    margin-left: 0; /* No sidebar on smaller screens */
    padding-left: 0; /* Reset padding for mobile */
  }
}

@media (max-width: 480px) {
  .header {
    font-size: 1em;
    padding: 8px;
  }

  .dashboard-main {
    margin-top: 8px;
    padding: 8px;
  }

  .dashboard-content {
    padding-left: 80px;
  }

  h1 {
    font-size: 1.5em;
  }

  p {
    font-size: 1em;
  }
}
