@import './Common.css'; /* Import reusable common styles */

/* Sidebar specific styles */
.sidebar {
    transition: width 0.3s ease;
    outline: 10px solid #28a745; /* Green outline */
    padding: 10px; /* Add padding */
    margin: 10px; /* Change margin to 10px */
}

/* Sidebar when open */
.sidebar.open {
    width: 300px;
}

/* Sidebar when closed */
.sidebar.closed {
    width: 60px;
}


