/* General styling for input fields */

.sidebar {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  color: #000000;
  overflow-y: auto;
  transition: width 0.3s ease;
  padding: 20px;
}

.sidebar.open {
  width: 250px;
}

.sidebar.closed {
  width: 60px;
}

.sidebar .toggle-button {
  width: 100%;
  padding: 10px;
  background-color: #555;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: var(--field-border-radius);
}

.sidebar .toggle-button:hover {
  background-color: #777;
}

.sidebar .menu {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.sidebar .menu li {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar .menu li:hover {
  background-color: #555;
  color: #fff;
}



